<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Profiles</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1>List of Profiles</h1>
        <ul>
            <li class="card">
                <h2>
                    <%= profile.username %>
                </h2>
                <h2>
                    <%= profile.calories %>
                </h2>
                <h2>
                    <%= profile.allergies %>
                </h2>
            </li>
        <form action="/recipe-search" method="GET" id="">
            <input type="text" name="searchWord" placeholder="Enter Meal Name">
            <input type="text" name="maxCalories" placeholder="Max Calories Per Meal">
            <button type="submit">Search Recipes</button>
        </form>

        <form action="/delete/<%= profile.id %>?_method=delete" method="POST" id="">
            <button type="submit">Delete Profile</button>
        </form>
        </ul>
    </main>
    <footer>

    </footer>
</body>
</html>