<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head') %>

    <title>Profiles</title>
</head>
<body>
    
    <%- include('../partials/header') %>
    
    <main>
        <h1>List of Profiles</h1>
        <ul>
            <li class="card">
                <h2>
                    <%= profile.username %>'s Profile Information
                </h2>
                <h2>
                   Daily Calories: <%= profile.calories %>
                </h2>
                <h2>
                   <%= profile.username %>'s Allergies: <%= profile.allergies %>
                </h2>
            </li>
        <form action="/recipe-search" method="GET" id="">

            <input type="text" name="searchWord" placeholder="Enter Meal Name" required>
            <input type="number" name="maxCalories" placeholder="Max Calories Per Meal" required min="0">
            <input type="hidden" name="allergy" value="<%= profile.allergies %>">
            <input type="hidden" name="calories" value="<%= profile.calories %>">
            <input type="hidden" name="username" value="<%= profile.username %>">
            <button type="submit">Search Recipes</button>
        </form>

        <form action="/delete/<%= profile.username %>?_method=delete" method="POST" id="">
            <button type="submit">Delete Profile</button>
        </form>
        </ul>
        <ul>
          <% recipes.forEach (recipe => { %>
            <li>
                <img src="<%= recipe.img_url %>"/>
                <h3>Recipe Name</h3>
                <p><%= recipe.recipe_id %></p>

                <ul>
                  <li>Ingredients</li>
                  <% recipe.ingredients.forEach (ingredient => { %>
                    <li style = "text-transform: capitalize;"><%= ingredient %></li>
                  <% }) %>
                </ul>

                <h3>Instructions</h3>
                <p><%= recipe.instructions %></p>
                <h3>Recipe Id</h3>
                <p><%= recipe.recipe_id %></p>
                <form method="post" action="/delete-recipe/<%= recipe.recipe_id %>?_method=delete">
                    <button type="submit">Delete this recipe</button>
                </form>

                <form method="post" action="/update-recipe/<%= recipe.recipe_id %>?_method=put">
                    <input class="update" name="sql_id" value="<%= recipe.sql_id %>">
                    <input class="update" name="recipe_id" value="<%= recipe.recipe_id %>">
                    <input class="update" name="ingredients" value="<%= recipe.ingredients %>">
                    <input class="update" name="instructions" value="<%= recipe.instructions %>">
                    <button type="submit">Update this recipe</button>
                </form>
            </li>
        <% }) %>
        </ul>

    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>
</body>
</html>