<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head') %>

    <title>Profiles</title>
</head>
<body>
    
    <%- include('../partials/header') %>
    
    <main>
        <h1>List of Profiles</h1>
        <ul>
            <li class="card">
                <h2>
                    <%= profile.username %>
                </h2>
                <h2>
                    <%= profile.calories %>
                </h2>
                <h2>
                    <%= profile.allergies %>
                </h2>
            </li>
        <form action="/recipe-search" method="GET" id="">
            <% if(result){ %>
                <label>Your Allergic to this</label>
            <% } %>
            <input type="text" name="searchWord" placeholder="Enter Meal Name" required>
            <input type="number" name="maxCalories" placeholder="Max Calories Per Meal" required min="0">
            <input type="hidden" name="allergy" value="<%= profile.allergies %>">
            <input type="hidden" name="calories" value="<%= profile.calories %>">
            <input type="hidden" name="username" value="<%= profile.username %>">
            <button type="submit">Search Recipes</button>
        </form>

        <form action="/delete/<%= profile.id %>?_method=delete" method="POST" id="">
            <button type="submit">Delete Profile</button>
        </form>
        </ul>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>
</body>
</html>