<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Search Results</title>
</head>

<body>

    <%- include('../partials/header') %>
    
    <h1>
        <span>C</span>h<span>o</span>o<span>s</span>e <span>F</span>r<span>o</span>m<span> S</span>o<span>m</span>e<span> R</span>e<span>c</span>i<span>p</span>e<span>s</span>
    </h1>
    <% recipes.forEach (recipe => { %>
        <section class="searchSection">
            <img src="<%= recipe.image %>"/>
            <h3 class="recipeName">Recipe Name</h3>
            <p class="pSearch"><%= recipe.recipeName %></p>
            <h3 class="recipeName">Calories</h3>
            <p class="pSearch"><%= recipe.calories %></p>

            <form class="recipeForm">
                <input type="hidden" id="allergy" value="<%= allergy %>"" name="allergies">
                <input type="hidden" name="recipename">
                <input type="hidden" name="calories">
                <input type="hidden" name="recipeID" class="recipeID" value="<%= recipe.recipe_id %>">
                <button class="recipeInfo">View Recipe Information</button>
            </form> 

            <form class="hideInfo">
                <button class="hideInfoButton">Hide Recipe Information</button>
            </form>

            <form class="saveRecipeForm" action="add-recipe" method="POST">
                <input type="hidden" name="recipeName" value="<%= recipe.recipeName %>">
                <input type="hidden" name="username" value="<%= user.username %>">
                <input type="hidden" name="calories" value="<%= user.calories %>">
                <input type="hidden" name="allergies" value="<%= user.allergies %>">
                <input type="hidden" name="recipe_id" value="<%= recipe.recipe_id %>">
                <input type="hidden" name="img_url" value="<%= recipe.image %>">
                <button class="saveRecipe">Add To My Meal Plan</button>
            </form>
            <section>

            </section>
        </section>
    <% }) %>
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>
</body>

</html>