<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Search Results</title>
</head>
<body>

    <%- include('../partials/header') %>
    
    <h1>Choose from Your Recipe List</h1>
    <% recipes.forEach (recipe => { %>
        <section>
            <img src="<%= recipe.image %>"/>
            <h3>Recipe Name</h3>
            <p><%= recipe.recipeName %></p>
            <h3>Calories</h3>
            <p><%= recipe.calories %></p>
            <section class="recipeDetails">

            </section>

            <form class="recipeForm">
                <input type='hidden' id="allergy" value='<%= allergy %>' name="allergies">
                <input type="hidden" name="recipename">
                <input type="hidden" name="calories">
                <input type="hidden" name="recipeID" class="recipeID" value="<%= recipe.recipe_id %>">
                <button class="recipeInfo">View Recipe Information</button>
            </form> 
            
        </section>
   <% }) %>
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>
</body>

</html>